# Banco de dados
POSTGRES_DB=database-name-here
POSTGRES_USER=database-username-here
POSTGRES_PASSWORD=database-password-here

# Spring
SPRING_DATASOURCE_URL=database-url-here
SPRING_DATASOURCE_USERNAME=database-username-here
SPRING_DATASOURCE_PASSWORD=database-password-here
SPRING_DATA_REDIS_HOST=redis-host-here
SPRING_DATA_REDIS_PORT=redis-port-here

# Segurança
JWT_SECRET=jwt-secret-here

# Serviços
AI_SERVICE_URL=ai-service-url-here
OPENAI_API_KEY=openai-api-key-here